<!DOCTYPE html>
<html lang="<%=luci.i18n.media_plain()%>" data-theme="dark">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=striptags(luci.sys.hostname())%> - Oasisic</title>
	<meta name="theme-color" content="#1d1d1f">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Oasisic">
	<link rel="manifest" href="<%=media%>/manifest.json">

	<link rel="stylesheet" href="<%=media%>/css/oasisic.css">
	<link rel="stylesheet" href="<%=media%>/css/presets.css">
	<link rel="stylesheet" href="<%=media%>/css/oasisic-dark.css" media="(prefers-color-scheme: dark)">
	<link rel="icon" type="image/svg+xml" href="<%=media%>/img/logo.svg">

	<script src="<%=media%>/js/oasisic.js"></script>
</head>
<body>
	<div id="maincontent">
		<div class="oasisic-header">
			<h2 class="oasisic-page-title"><%=striptags(lui18n.translatef(luci.dispatcher.context.requestpath[#luci.dispatcher.context.requestpath] or ""))%></h2>
			<div class="oasisic-version">v1.0.0</div>
		</div>
		<div class="oasisic-content">